[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
scikit-learn = "*"
torch = "*"
netcal = "*"

[dev-packages]
jupyter = "*"

[requires]
python_version = "3.9"
